/*Header*/
header{
    position: relative;
    background-color: #001F54A6;
    color: white;
    display: flex;
    padding-left: 50px;
    align-items: center;
    width: 100%;
    z-index: 2;
}

section {
    position: absolute;
    z-index: 0;
}

h1 a {
    color: white;
    text-decoration: none;
}

nav{
    padding-left: 600px;
    padding-top: 7px;
    padding-bottom: 7px;
}
    
nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 40px;
}
    
nav ul li a{
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    color: white;
}
    
nav ul li a:hover{
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

/*Main*/
html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.foreground{
    position: relative;
    height: 600px;
    width: 100%;
    object-fit: cover;
    z-index: 1;
}

.background {
    position: relative;
    top: -700px;
    left: 0;
    height: 695px;
    width: 100%;
    z-index: 0;
}

.text{
    position: relative;
    color: white;
    font-size: 2em;
    font-weight: bold;
    padding: 20px;
    top: -1200px;
    text-align: center;
    font-size: 64px;
    z-index: 3;
}

button {
    position: relative;
    background-color: #0019FF; /* Deep blue */
    color: white;
    padding: 20px 350px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    display: inline-block;
    text-align: center;
    top: -1250px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

button:hover {
    background-color: #000FCC; /* Darker blue on hover */
}

main{
    position: relative;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    top: -975px;
  }
  
  .container{  /* Got this good enough for right now but plan on fixing soon */
    display: flex;
    align-items: flex-start;
    padding: 40px;
    max-width: 800px;
    justify-content: center; 
    margin-left: 25%;
  }
  
  .sidebar{
    font-weight: bold;
    text-transform: uppercase;
    writing-mode: horizontal-tb; 
    margin-right: 20px;
    margin-top: 15px;
    letter-spacing: 2px;
  }
  
  .content{
    flex: 1;
    font-size: 14px;
    line-height: 1.6;
    margin-left: 150px;
    margin-right: auto;
  }

  footer{
    position: relative;
    background-color: #0A1128; 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.social-icons {
    display: flex;
    gap: 30px;
}

.social-icons a img {
    width: 40px;
    height: 40px;
}

.copyright {
    font-size: 32px;
}